@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.custom-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff; /* Your button's default background color */
  color: #fff; /* Text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover effect */
.custom-button:hover {
  background-color: #0056b3; /* Change to your desired hover color */
  transform: scale(1.05); /* Increase button size on hover */
}

/* Active effect when button is clicked */
.custom-button:active {
  transform: scale(0.95); /* Slight scale-down effect when clicked */
}
